:root {
    --section-tagline-tranform: uppercase;
}

.section-tagline {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-tranform);
    font-weight: var(--font-weight-bold);
}