
.visually-hidden {
    display: none; 
}

body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

.section-tagline {
    color: var(--color-primary);
}

.card-category {
    color: var(--color-primary);
}