:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-gray: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: --color-black;
}

body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

.section-tagline {
    color: var(--color-primary);
}

.card-category {
    color: var(--color-primary);
}